name: Apigee Deploy Proxy on Git Tag

on:
  push:
    tags:
      - apigee/apiproxy/**
      - apigee/sharedflow/**

jobs:
  parse:
    name: Parse and validate Tag
    runs-on: ubuntu-latest
    outputs:
      type: ${{ steps.parse.outputs.type }}
      name: ${{ steps.parse.outputs.name }}
      env: ${{ steps.parse.outputs.env }}
      rev: ${{ steps.parse.outputs.rev }}
      sha: ${{ steps.lookup.outputs.sha }}

    # env:
    #   APIGEE_ORG: my-apigee-org
    #   APIGEE_PROJECT: my-gcp-project
    #   APIGEE_REGION: australia-southeast1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Parse tag
        id: parse
        # Required format is one of 
        # - apigee/apiproxy/name/env/revision
        # - apigee/sharedflow/name/env/revision
        # e.g.
        # - apigee/apiproxy/hapana-v2-client/prod/12

        run: |
          TAG="${GITHUB_REF_NAME}"
          echo "Tag: $TAG"
          # Regex: type/name/env/xx
          if [[ "$TAG" =~ ^apigee/(apiproxy|sharedflow)/([^/]+)/(sit|prod)/([0-9]+)$ ]]; then
            TYPE="${BASH_REMATCH[1]}"
            NAME="${BASH_REMATCH[2]}"
            ENV="${BASH_REMATCH[3]}"
            REV="${BASH_REMATCH[4]}"
            echo "type=$TYPE" >> $GITHUB_OUTPUT
            echo "name=$NAME" >> $GITHUB_OUTPUT
            echo "env=$ENV" >> $GITHUB_OUTPUT
            echo "rev=$REV" >> $GITHUB_OUTPUT
            echo "✅ Valid tag detected: type=$TYPE, name=$NAME, env=$ENV, rev=$REV"
          else
            echo "❌ ERROR: Invalid tag format: $TAG"
            echo "Expected format: apigee/proxy/<name>/<env>/<revision>"
            echo "or apigee/sharedflow/<name>/<env>/<revision>"
            echo "where env is one of staging, qa or prod"
            exit 1
          fi

      - name: Display parsed values
        run: |
          echo "Type: ${{ steps.parse.outputs.type }}"
          echo "Name: ${{ steps.parse.outputs.name }}"
          echo "Env: ${{ steps.parse.outputs.env }}"
          echo "Revision: ${{ steps.parse.outputs.rev }}"

      - name: Get metadata
        id: lookup
        run: |
          META_FILE="metadata/${{ steps.parse.outputs.type }}-${{ steps.parse.outputs.name }}-rev${{ steps.parse.outputs.rev }}.json"
          if [[ ! -f "$META_FILE" ]]; then
            echo "❌ Metadata file not found: $META_FILE"
            exit 1
          fi
          SHA=$(jq -r '.sha' "$META_FILE")
          REVISION=$(jq -r '.revision' "$META_FILE")
          echo "sha=$SHA" >> $GITHUB_OUTPUT

          echo "Metadata says: sha=$SHA revision=$REVISION"

          if [[ "${{ steps.parse.outputs.rev }}" != "$REVISION" ]]; then
            echo "⚠️ Warning: Tag revision (${{
              steps.parse.outputs.rev
            }}) does not match metadata revision ($REVISION)"
          fi

  deploy-sit:
    runs-on: ubuntu-latest
    needs: parse
    if: ${{ needs.parse.outputs.env == 'sit' }}
    environment: sit
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.parse.outputs.sha }}
          fetch-depth: 0

      - name: Build Apigee proxy/sharedflow bundle
        run: |
          case "${{ needs.parse.outputs.type }}" in
            apiproxy) BASE="apiproxies" ; COMMAND="apigeecli apis import";;
            sharedflow) BASE="sharedflows" ; COMMAND="apigeecli sharedflows import";;
            *) echo "❌ Unknown type"; exit 1 ;;
          esac

          mkdir bundle
          cd $BASE/${{ needs.parse.outputs.name }}/rev${{ needs.parse.outputs.rev }}
          zip -r ../../../bundle/${{ needs.parse.outputs.name }}.zip ${{ needs.parse.outputs.type }}/
          echo "Created ${{ needs.parse.outputs.name }}.zip"

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.APIGEE_SA_KEY }}'
          
      - name: Install Apigee CLI
        run: |
          curl -sLO https://github.com/apigee/apigeecli/releases/download/v2.16.0/apigeecli_v2.15.0_Linux_x86_64.zip
          unzip apigeecli_v2.16.0_Linux_x86_64.zip
          sudo mv apigeecli_v2.16.0_Linux_x86_64/apigeecli /usr/local/bin/
    
      - name: Import ApigeeX Proxy
        id: import
        run: |

          case "${{ needs.parse.outputs.type }}" in
            apiproxy) RESOURCE="apis";;
            sharedflow) RESOURCE="sharedflows";;
            *) echo "❌ Unknown type"; exit 1 ;;
          esac

          apigeecli $RESOURCE import --default-token -o ${{ vars.APIGEE_ORG }}  --folder ./bundle
          REVISION=$(apigeecli "$RESOURCE" get --default-token -o "${{ vars.APIGEE_ORG }}" --name ${{ needs.parse.outputs.name  }} | jq -r '.latestRevisionId')
          echo "revision=$REVISION" >> "$GITHUB_OUTPUT"          
          echo "revision=$REVISION"          

      # - name: Import proxy bundle
      #   env:
      #     APIGEE_ORG: ${{ vars.APIGEE_ORG }}
      #     PROXY_NAME: ${{ steps.parse.outputs.proxy }}
      #     APIGEE_TOKEN: ${{ secrets.APIGEE_TOKEN }}
      #   run: |
      #     apigeecli apis import --org "$APIGEE_ORG" --name "$PROXY_NAME" --source bundle.zip --token "$APIGEE_TOKEN"
      #     REV=$(apigeecli apis list --org "$APIGEE_ORG" --name "$PROXY_NAME" --json --token "$APIGEE_TOKEN" | jq -r '.[].revision[-1]')
      #     echo "Imported new revision $REV"


  deploy-prod:
    runs-on: ubuntu-latest
    needs: parse
    if: ${{ needs.parse.outputs.env == 'prod' }}
    environment: prod
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.parse.outputs.sha }}
          fetch-depth: 0

      - name: Build Apigee proxy/sharedflow bundle
        run: |
          case "${{ needs.parse.outputs.type }}" in
            apiproxy) BASE="apiproxies" ; COMMAND="apigeecli apis import";;
            sharedflow) BASE="sharedflows" ; COMMAND="apigeecli sharedflows import";;
            *) echo "❌ Unknown type"; exit 1 ;;
          esac

          mkdir bundle
          cd $BASE/${{ needs.parse.outputs.name }}/rev${{ needs.parse.outputs.rev }}
          zip -r ../../../bundle/${{ needs.parse.outputs.name }}.zip ${{ needs.parse.outputs.type }}/
          echo "Created ${{ needs.parse.outputs.name }}.zip"

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.APIGEE_SA_KEY }}'

      - name: Install Apigee CLI
        run: |
          curl -sLO https://github.com/apigee/apigeecli/releases/download/v2.16.0/apigeecli_v2.15.0_Linux_x86_64.zip
          unzip apigeecli_v2.16.0_Linux_x86_64.zip
          sudo mv apigeecli_v2.16.0_Linux_x86_64/apigeecli /usr/local/bin/
    
      - name: Import ApigeeX Proxy
        id: import
        run: |

          case "${{ needs.parse.outputs.type }}" in
            apiproxy) RESOURCE="apis";;
            sharedflow) RESOURCE="sharedflows";;
            *) echo "❌ Unknown type"; exit 1 ;;
          esac

          apigeecli $RESOURCE import --default-token -o ${{ vars.APIGEE_ORG }}  --folder ./bundle
          REVISION=$(apigeecli "$RESOURCE" get --default-token -o "${{ vars.APIGEE_ORG }}" --name ${{ needs.parse.outputs.name  }} | jq -r '.latestRevisionId')
          echo "revision=$REVISION" >> "$GITHUB_OUTPUT"          
          echo "revision=$REVISION"          

      # - name: Import proxy bundle
      #   env:
      #     APIGEE_ORG: ${{ vars.APIGEE_ORG }}
      #     PROXY_NAME: ${{ steps.parse.outputs.proxy }}
      #     APIGEE_TOKEN: ${{ secrets.APIGEE_TOKEN }}
      #   run: |
      #     apigeecli apis import --org "$APIGEE_ORG" --name "$PROXY_NAME" --source bundle.zip --token "$APIGEE_TOKEN"
      #     REV=$(apigeecli apis list --org "$APIGEE_ORG" --name "$PROXY_NAME" --json --token "$APIGEE_TOKEN" | jq -r '.[].revision[-1]')
      #     echo "Imported new revision $REV"

