name: Terraform Plan on Pull Request

on:
  pull_request:
    branches:
      - main
    paths:
      - terraform/**

jobs:
  changes:
    name: Get changed directories
    runs-on: ubuntu-latest
    outputs:
      directories: ${{ steps.filter.outputs.changes }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Filter changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            infra:
              -  infra/**

  dev:
    name: Plan with DEV environment
    runs-on: ubuntu-latest
    needs:
      - changes
    if: needs.changes.outputs.directories != '[]'

    steps:
      - uses: actions/checkout@v4

      - id: auth
        name: Auth to GCP (OIDC)
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"
          token_format: "access_token"

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd apigee_env
          terraform init -reconfigure
          terraform workspace select dev || terraform workspace new dev
          terraform validate
          terraform plan -var-file=envs/dev.tfvars

      # - name: Terraform Plan (${{ vars.ENVIRONMENT }})
      #   run: |
      #     terraform plan -no-color \
      #       -var="apigee_org_id=${{ vars.APIGEE_ORG_ID }}" \
      #       -var="environment=${{ vars.ENVIRONMENT }}" \
      #       -var="access_token=${{ steps.auth.outputs.access_token }}"
      #   continue-on-error: false
