name: Terraform Plan on Push or Pull Request

on:
  push:
    branches:
      - main
    paths:
      - terraform/**
  pull_request:
    branches:
      - main
    paths:
      - terraform/**

# jobs:
#   # JOB to run change detection
#   detect-changes:
#     runs-on: ubuntu-latest
#     # Required permissions
#     # permissions:
#     #   pull-requests: read
#     # Set job outputs to values from filter step
#     outputs:
#       directories: ${{ steps.filter.outputs.changes }}
#       # frontend: ${{ steps.filter.outputs.frontend }}
#     steps:
#     # For pull requests it's not necessary to checkout the code
#     - uses: dorny/paths-filter@v3
#       id: filter
#       with:
#         filters: |
#           backend:
#             - 'backend/**'
#           frontend:
#             - 'frontend/**'


#   # JOB to build and test backend code
#   backend:
#     needs: detect-changes
#     if: ${{ contains(needs.detect-changes.outputs.directories, 'backend') }}


#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4

#   # JOB to build and test frontend code
#   frontend:
#     needs: changes
#     if: ${{ needs.changes.outputs.frontend == 'true' }}
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4

jobs:
  detect-changes:
    name: Get changed files
    runs-on: ubuntu-latest
    outputs:
      filters: ${{ steps.filter.outputs.changes }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Filter changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            infra:
              - 'terraform/infra/**'
            envs:
              - 'terraform/apigee_env/**'

  deploy-infra:
    name: Plan Infrastructure
    runs-on: ubuntu-latest
    needs:
      - detect-changes
    # if: ${{ needs.detect-changes.outputs.infra == 'true' }}
    # if: ${{ fromJSON(needs.detect-changes.outputs.infra || 'false') }}

    if: ${{ contains(needs.detect-changes.outputs.filters, 'infra') }}

    steps:
      - uses: actions/checkout@v4

      - id: auth
        name: Auth to GCP (OIDC)
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Deploy
        run: |
          cd terraform/infra
          terraform init -reconfigure
          terraform workspace select default || terraform workspace new default
          terraform validate
          terraform plan
          if [ "${{ github.event_name }}" = "push" ]; then
            terraform apply -auto-approve
          fi

  deploy-envs:
    name: Deploy Environment-level resources
    runs-on: ubuntu-latest
    needs:
      - detect-changes
      - deploy-infra
    # if: ${{ needs.detect-changes.outputs.envs == 'true' }}
    # if: needs.detect-changes.outputs.directories != '[]'
    if: ${{ contains(needs.detect-changes.outputs.filters, 'envs') }}

    strategy:
      matrix:
        env: [dev, prod]

    steps:
      - uses: actions/checkout@v4

      - id: auth
        name: Auth to GCP (OIDC)
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Deploy
        run: |
          cd terraform/apigee_env
          terraform init -reconfigure
          terraform workspace select ${{ matrix.env }} || terraform workspace new ${{ matrix.env }}
          terraform validate
          terraform plan -var-file=envs/${{ matrix.env }}.tfvars
          if [ "${{ github.event_name }}" = "push" ]; then
            terraform apply -var-file=envs/${{ matrix.env }}.tfvars -auto-approve
          fi


